In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('black_racist_tweets.csv')

In [8]:
df.head()

,Unnamed: 0,# favorite of tweet,# followers,# following,# of hastags,# of mentions,# retweets of tweet,account creation date,in reply to,location,name,number of account tweets,screen name,term,time,tweet,user id
0,0.0,4,320,233,0,"[{'screen_name': 'BlackieWFangs', 'name': 'Bla...",0,Wed Feb 18 12:52:03 +0000 2009,7.536555e+17,NaN,Phil,14360.0,PW0273,blackie,Fri Sep 22 18:53:47 +0000 2017,@BlackieWFangs @BlankPetra @jimjoneskoolai2 @A...,2.119252e+07
1,1.0,0,530,474,0,[],0,Mon Dec 26 22:11:39 +0000 2016,NaN,Malaysia,Kopi Panas,5108.0,hash_1993,blackie,Fri Sep 22 18:50:30 +0000 2017,I miss my blackie ðŸ™€ https://t.co/Beqo8InTuR,8.135076e+17
2,2.0,0,1219,281,0,"[{'screen_name': 'issa_blackie', 'name': 'Blac...",0,Wed Dec 07 08:44:07 +0000 2016,5.485077e+08,"Nairobi, Kenya",Valentine Kamau,4918.0,nimu_kamau,blackie,Fri Sep 22 18:11:06 +0000 2017,@issa_blackie That was my second thought ðŸ˜‚ðŸ˜‚ðŸ˜‚,8.064190e+17
3,3.0,0,1219,281,0,"[{'screen_name': 'issa_blackie', 'name': 'Blac...",0,Wed Dec 07 08:44:07 +0000 2016,5.485077e+08,"Nairobi, Kenya",Valentine Kamau,4918.0,nimu_kamau,blackie,Fri Sep 22 18:10:21 +0000 2017,"@issa_blackie ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚Youâ€™re bored,Sindio??",8.064190e+17
4,4.0,0,2518,5001,1,"[{'screen_name': 'caitlin_blackie', 'name': 'C...",0,Sun Mar 09 02:48:19 +0000 2014,3.133266e+09,United Kingdom,Jake Smith,15707.0,JakeSmi07598801,blackie,Fri Sep 22 17:06:04 +0000 2017,@caitlin_blackie @katie_shepherdd sorry girls ...,2.379692e+09

In [9]:
df['term'].value_counts()

house nigger       435
nigger             399
mammy              330
nigglet            289
boon               283
nigra              278
jig                270
jigaboo            269
spook              268
coon               254
negress            228
nappy head         214
porch monkey       194
spade              178
negro              155
swamper            148
negroid            129
darkie             127
boogie              95
hutch               79
thick lips          78
jigga               75
blackie             68
swamp donkey        63
monkeyboy           37
bonky               26
knuckle-dragger     24
jungle bunny        19
yard ape            19
field nigger        16
bo-bo               15
pube head           13
liver lips          13
niggerino            4
buppie               4
ghetto monkey        3
cotton-picker        3
strap hangers        2
chain dragger        2
zoo ape              2
niggerachi           2
niggerette           2
camel lips           2
bumper lips          2
n'er                 2
welfare monkey       1
boogat               1
muffin-head          1
spear-chucker        1
Name: term, dtype: int64