In [2]:
import pandas as pd

In [3]:
racist3_df = pd.read_csv('racist_3.csv')

In [4]:
racist3_df.head()

,Unnamed: 0,# favorite of tweet,# followers,# following,# of hastags,# of mentions,# retweets of tweet,account creation date,in reply to,location,name,number of account tweets,phrase,race,screen name,time,tweet,user id
0,0,0.0,1994.0,1163.0,0.0,0.0,0.0,Tue Jun 13 14:56:48 +0000 2017,NaN,"Detroit, MI",BLM,22648.0,jigaboo,black,blackalive_,Tue Sep 26 15:36:03 +0000 2017,Sheriff David Clarke calls Marc Lamont Hill a ...,8.746417e+17
1,1,1.0,104.0,103.0,0.0,0.0,0.0,Thu Apr 12 01:17:58 +0000 2012,NaN,"We really outchea tho, US",Young Capicola God,12855.0,jigaboo,black,slimerothstein0,Tue Sep 26 15:07:32 +0000 2017,"Like, it seems as pointless an exercise as ret...",5.514639e+08
2,2,1.0,40.0,40.0,0.0,0.0,0.0,Fri Sep 15 22:01:19 +0000 2017,NaN,USA,Owly ðŸ¦‰,107.0,jigaboo,black,TheOwlJolson,Tue Sep 26 08:17:21 +0000 2017,Real jigaboo hours. Whoâ€™s up?,9.088130e+17
3,3,1.0,488.0,825.0,0.0,0.0,0.0,Sun Aug 07 23:11:01 +0000 2016,NaN,"Cincinnati, OH",CAMERON ðŸ˜©ðŸ™Œ,836.0,jigaboo,black,Camaronii,Mon Sep 25 20:43:19 +0000 2017,This dude name is UgyGoddddd and he has the gu...,7.624258e+17
4,4,0.0,194.0,221.0,0.0,1.0,0.0,Sat Apr 27 21:55:45 +0000 2013,1.868573e+09,"New York, USA",Juni,4855.0,jigaboo,black,juniman73,Mon Sep 25 15:59:17 +0000 2017,@_deneal If I called you jiggaboo would you ge...,1.385553e+09

In [6]:
len(racist3_df)

4476

In [7]:
racist3_no_dup = racist3_df.drop_duplicates()

In [8]:
len(racist3_no_dup)

4476

In [9]:
racist3_clean = racist3_df.dropna(subset = ['tweet'])

In [10]:
len(racist3_clean)

4474

In [11]:
racist3_clean.to_csv('racist3_clean.csv', index = False)

In [ ]:
for index, row in racist_df.iterrows():
    try:
        text = row['tweet']
        compound = analyzer.polarity_scores(text)['compound']
        positive = analyzer.polarity_scores(text)['pos']
        negative = analyzer.polarity_scores(text)['neg']
        neutral = analyzer.polarity_scores(text)['neu']
        racist_df.set_value(index, 'Sentiment Score', compound)
        racist_df.set_value(index, 'Positive Score', positive)
        racist_df.set_value(index, 'Negative Score', negative)
        racist_df.set_value(index, 'Neutral Score', neutral)
    except:
        print('error at %s, %s' % (index, row['tweet']))