# Dependencies

In [1]:
import tweepy
import json
import pandas as pd
import matplotlib.pyplot as mpl

# Twitter API Keys & Auth

In [2]:
# Twitter API Keys
consumer_key = "YcSWh2b8K7GYGOjRePhbFicPg"
consumer_secret = "HaMix0UmqHggYDcbF4uEiA9J4UluiiKGNTdr2PgicGzEYQI3Ns"
access_token = "503080507-PHn1HQtclSxSBvindsRHZNWV0BAr8Br6ELuRAW2x"
access_token_secret = "mp1vP93iw7lEVmKwqbwHvsbM05VfqRCAoZRFI9BQXJe7T"

# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser(), wait_on_rate_limit = True, wait_on_rate_limit_notify = True)

## Test Information

In [3]:
screen_name = ["mewriah"] #also works if you add multiple twitter names to check
followers = []
follower_count = []

# Process:
## * Loop through list given, get their users, find out how many followers those users have, and find mutual following within list given

In [4]:
#counter to mark frequency
counter  = 0

# loop through screen names given. ie: screen_name
for name in screen_name:
    
    # targets given name in the screen names list
    followers_id = api.friends_ids(name)

    # Loop through all following list of user selected and get the ID's of those users
    for tweet in followers_id['ids']:

        # convert the twitter id to a screen name by inputing ID into .get_user api
        screen_name_from_id = api.get_user(tweet)
        
        # if this account has more than X followers, add to list and put a counter
        if(screen_name_from_id["followers_count"] > 2000000):
            # Prints the screen name from the ID loop 
            print(screen_name_from_id["screen_name"])
            print(screen_name_from_id["followers_count"])
            
            if screen_name_from_id["screen_name"] not in followers_id:
                #append to list of followers
                followers.append(screen_name_from_id["screen_name"])
                follower_count.append(screen_name_from_id["followers_count"])
            
    #get length of list
    print(len(followers))

MichelleObama
9014804
JoeBiden
2291911
jk_rowling
12642976
ACLU
1316488
Medium
2317206
CNN
37727030
NPR
7236500
WSJ
14837722
AP
11614591
cnnbrk
52641188
Reuters
18746637
SenSanders
6307183
BernieSanders
8023514
chelseahandler
7896385
SirPatStew
2904415
TheTweetOfGod
3073037
goodreads
3455950
nybooks
1988286
JimCarrey
16652399
DalaiLama
14954776
reIatabIe
1503493
boburnham
1769227
22
ACLU
1316493
NotAltWorld
1261694
Paris
1888052
Medium
2317206
NYCMayor
1082495
wikileaks
5030545
github
1637459
Rate limit reached. Sleeping for: 235
ezraklein
1951390
MuseumModernArt
5080751
NYMag
1646734
NateSilver538
2556918
tanehisicoates
1045067
nypl
2178189
Snowden
3414092
POTUS44
15326831
POTUS
20392434
NatGeo
19736167
robdelaney
1459325
DalaiLama
14954953
NewYorker
8105116
radiohead
1877102
Reuters
18746728
AP
11614677
TheEconomist
22007718
nytimes
39537571
WIRED
9616146
UN
9465241
NYTScience
1132043
paulkrugman
3509828
googleresearch
1167370
NASA
26313373
53
Twitter
61945203
Spotify
2306807
55
AskPlayStation
1243430
ochocinco
3653681
BarackObama
95151014
SenSanders
6307369
BernieSanders
8023527
kendricklamar
9212546
RapSheet
1399434
richeisen
1144755
VICE
1826085
POTUS44
15326830
AdamSchefter
6814589
JonahHill
5031595
stephenasmith
3632363
RealSkipBayless
2730505
RobGronkowski
2484060
bmthofficial
1864597
olobersyko
1680005
Sethrogen
6934932
Patriots
3675042
NFL
24095933
tacobell
1864947
AAofficial
1042334
tylerthecreator
5053186
78

# Data Frame: Top Followers from test list

In [171]:
topFollowers = pd.DataFrame(
        {   "User": followers,
            "Follower Count": follower_count,
            
        }
    )
topFollowers[["User","Follower Count"]]
new_topFollowers = topFollowers.set_index(['User'])

del new_topFollowers.index.name

# new_topFollowers["Mutual Followers"] = 0
new_topFollowers.sort_values(['Follower Count'], ascending=False).head(25)

               Follower Count
BarackObama          95151014
Twitter              61945203
cnnbrk               52641188
nytimes              39537571
CNN                  37727030
NASA                 26313373
NFL                  24095933
TheEconomist         22007718
POTUS                20392434
NatGeo               19736167
Reuters              18746728
Reuters              18746637
JimCarrey            16652399
POTUS44              15326831
POTUS44              15326830
DalaiLama            14954953
DalaiLama            14954776
WSJ                  14837722
jk_rowling           12642976
AP                   11614677
AP                   11614591
WIRED                 9616146
UN                    9465241
kendricklamar         9212546
MichelleObama         9014804

# Mutual Follower Frequency

In [168]:
# get number of occurances of each user
popular_follow = new_topFollowers.index.value_counts().to_frame().reset_index()
popular_follow.head(15)

             index  0
0             ACLU  2
1               AP  2
2           Medium  2
3          POTUS44  2
4        DalaiLama  2
5       SenSanders  2
6    BernieSanders  2
7          Reuters  2
8        NewYorker  1
9              NFL  1
10     BarackObama  1
11           POTUS  1
12        JoeBiden  1
13   NateSilver538  1
14  googleresearch  1

# Frequency Within News Source List

In [227]:
#News Sources
newsTwitter = ['reuters', 'nytimes','washingtonpost', 'buzzfeednews',
        'cnn','realdonaldtrump', 'berniesanders','hillaryclinton',
        'foxnews', 'breitbartnews','seanhannity', 'mike_pence' ]

# put results of news matching
newsMatch = []

for x in new_topFollowers.index:
    # if one of the names matches something in our list of news sources:
    if x.lower() in newsTwitter:
        # print(x)
        newsMatch.append(x)

# create data frame based on results
newsDf = pd.DataFrame(
        {   "User": newsMatch,             
        }
    )    

# get value caounts of each that matched #might throw error, check later
newsDf = newsDf["User"].value_counts()
newsDf.to_frame()

               User
BernieSanders     2
Reuters           2
nytimes           1
CNN               1