In [1]:
import pandas as pd

In [30]:
filtered = pd.read_csv('filtered_tweets.csv')

In [31]:
filtered.head()

,# favorite of tweet,# followers,# following,# of hastags,# of mentions,account creation date,in reply to,location,name,number of account tweets,...,race,screen name,time,tweet,user id,classification,compound score,Racist (Y/N),State Abbreviation,Valid City Data (Y/N)
0,0,1035,695,0,0,Mon May 10 20:46:10 +0000 2010,NaN,"Los Angeles, CA",Daunt L. Guapo,46837,...,black,TheAntiThirst,Sun Sep 24 23:43:48 +0000 2017,"""Black Men are the White People of Black Peopl...",1.424148e+08,Hate speech,0.0000,y,CA,y
1,0,34,80,0,2,Mon Jun 06 20:29:37 +0000 2016,7.990000e+17,"Tennessee, USA",Donald J Trump,109,...,black,potus45ofUSA,Sun Sep 24 23:41:03 +0000 2017,"@KathySc65174870 @teacherfortrump Kathy, it wa...",7.400000e+17,Hate speech,-0.3818,y,TN,y
2,1,3007,5000,0,3,Sun May 21 01:57:26 +0000 2017,7.810000e+17,"Dallas, TX",Kristin Fennymore,5069,...,black,KFennymore,Sun Sep 24 23:40:02 +0000 2017,@erick_c_h01 @VeronicaA5567 @Trumpfan1995 I'm ...,8.660000e+17,Hate speech,-0.6808,y,TX,y
3,1,3,0,1,0,Mon Aug 07 00:08:24 +0000 2017,NaN,"Simi Valley, CA",Merica1958,456,...,black,Merica1861,Sun Sep 24 23:18:48 +0000 2017,#TakeTheKnee Black guy shoots up a church of w...,8.940000e+17,Hate speech,-0.7579,y,CA,y
4,0,2321,1198,0,0,Thu Aug 12 03:04:35 +0000 2010,NaN,"East Flatbush, Brooklyn",Nola Darling????,257313,...,black,WESTCOASTSUMA,Sun Sep 24 23:15:47 +0000 2017,This is why people say black men are the white...,1.774275e+08,Hate speech,0.0000,y,NY,y

In [32]:
len(filtered)

981

In [33]:
filtered['Valid City Data (Y/N)'].value_counts()

y         440
Y         240
n         184
N          94
canada     17
CANADA      3
MEXICO      1
mexico      1
Name: Valid City Data (Y/N), dtype: int64

In [34]:
filtered_us = filtered[(filtered['Valid City Data (Y/N)'] == 'y') |
                       (filtered['Valid City Data (Y/N)'] == 'Y') |
                       (filtered['Valid City Data (Y/N)'] == 'n') |
                       (filtered['Valid City Data (Y/N)'] == 'N') |
                       (filtered['Valid City Data (Y/N)'].isnull() == True)]

In [38]:
filtered_us = filtered_us[filtered_us['State Abbreviation'] != 'CANADA']

In [39]:
len(filtered_us)

954

In [40]:
unique_users = filtered_us.drop_duplicates(subset = 'screen name')

In [41]:
len(unique_users)

886

In [42]:
unique_users.to_csv('unique_user_location.csv', index = False)

In [45]:
state_counts = pd.DataFrame(unique_users['State Abbreviation'].value_counts())